body {
    text-align: center;
    color: greenyellow;
    background: url(https://images.unsplash.com/photo-1594903819709-069c1bdca6a1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1576&q=80);
    background-repeat: no-repeat;
    background-size: cover;
}